.topnav {
    overflow: hidden;
    background-color:(0,0,0,0);
}
  
.topnav a {
    float: right;
    color: var(--base-text);
    text-align: center;
    padding: 15px 50px;
    text-decoration: none;
    font-size: 20px;
    transition : 1s;
    font-family: monospace;
    font-weight: bold;
}
  
.topnav a:hover {
    color: var(--hover-text);
    transition: 1s;
}
.topnav a.active {
    color: var(--hover-text);
}