.projects {
    height: 100vh;
    padding-left: 75px;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 0.8fr 1.1fr 1.1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "project-heading project-heading project-heading"
        ". . ."
        ". . ."; 
}
.project-heading { 
    grid-area: project-heading;
    text-align: center;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}