.sidebar {
    width: 50px;
    height: 250px;
    background-color: var(--nord0);
    color: var(--nord4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0px 20px 20px 0px;
}

.sidebar-center {
    display: flex;
    align-items: center;
    width: 80%;
    padding: 0;
}
  
.list {
    list-style: none;
    padding: 0;
    width: 100%;
}
  
.list-item {
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
}
.list-item:hover {
    padding-top: 20px;
    padding-bottom: 20px;
}

.list-item-icon {
    width: 30px;
    font-size: 20px;
}
  
.list-item.active,
.list-item:hover {
    color: var(--nord6);
    background-color: var(--nord7);
}