* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

html {
  background-color: #111827;
}

.sidebar {
  width: 50px;
  height: 55vh;
  background-color: #111827;
  color: #9ca3af;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0px 20px 20px 0px;
}

.sidebar-center {
  display: flex;
  align-items: center;
  width: 80%;
  /* border-bottom: 1px solid #4b4b4b; */
  /* padding: 10px 0; */
  /* margin-bottom: 10px; */
  padding: 0;
}

.list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.list-item {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

.list-item-icon {
  width: 30px;
  font-size: 20px;
}

.list-item.active,
.list-item:hover {
  background-color: #374151;
  color: white;
}

/* @media only screen and (max-width: 768px) {
  .sidebar {
    width: 50px;
  }
  .brand,
  .list-item-text {
    display: none;
  }
} */
